<div class="container">
  <div class="row">
    <%= link_to "新規投稿", new_post_path  %>
    <div class="col-md-10">
      <h2>投稿一覧(全<%= @posts.count %>件)</h2>
      <% @posts.each do |post| %>
      <table class="table table-borderless">
        <tr>
          <td>
            <% if post.post_images.attached? %>
              <% post.post_images.each do |post_image| %>
                <%= link_to post_path(post) do %>
                  <%= image_tag post_image.variant(resize_to_fill: [200, 200]).processed %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= post.title %></td>
        </tr>
        <tr>
          <td><%= post.body %></td>
        </tr>
        <tr>
          <td>
            <% post.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>