<div class="container">
  <%= link_to "新規投稿作成", new_post_path, class: "btn btn-info btn-sm mx-auto" %>
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/tagsearches/sidebar', tags: @tags %>
      <%= render 'public/posts/search_form' %>
    </div>
    <%= render 'index', posts: @posts %>
  </div>
  <div class="offset-5 mb-5 py-3">
    <%= paginate @posts, theme: 'bootstrap-5' %>
  </div>
</div>