<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table table-borderless">
        <tr>
          <td>
            <% if @post.post_images.attached? %>
              <% @post.post_images.each do |post_image| %>
                <%= link_to post_path(@post) do %>
                  <%= image_tag post_image.variant(resize_to_fill: [200, 200]).processed %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <td><%= @post.body %></td>
        </tr>
        <tr>
          <td>
            <% @post.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td>
          <td id="favorite" >
            <%= render 'public/favorites/btn', post: @post %>
          </td>
        </tr>
      </table>
      <div id="comment_index">
        <%= render '/public/post_comments/index', post: @post %>
      </div>
        <%= render '/public/post_comments/form', post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>