<div class="container">
  <div class="row">
  <div class="col-md-6">
    <h4 class="mt-5">タグ一覧・追加</h4><br>
      <div class="form-group">
        <%= form_with model:@tag do |f| %>
          <%= f.text_field :name, placeholder: "タグ", class:"mr-3" %>
          <%= f.submit '新規登録', class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>

<div class="row mb-5">
  <div class="col-md-4">
    <table class="table my-5">
      <thead class="thead-light">
        <tr>
          <th><b>タグ</b></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td><%= tag.name %></td>
              <td><%= link_to "編集する", edit_admin_tag_path(tag.id), class:"btn btn-success form-control" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
</div>