<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>新規会員登録</h2>
    </div>
    <div class="col-md-10">
      <%= form_with model: @user, url: user_registration_path do |f| %>
      <table class="table table-sm table-borderless mt-3">
        <tr>
          <td><%= f.label :name, 'ユーザーネーム' %></td>
          <td><%= f.text_field :name, class: "form-control", placeholder: "アングラーネーム" %></td>
        </tr>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "sample@example.com" %></td>
        </tr>
        <tr>
          <td><%= f.label :password, 'パスワード(6文字以上)' %></td>
          <td class="field">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation, 'パスワード(確認用)' %></td>
          <td>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="1"></td>
          <td>
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </td>
        </tr>
      </table>
      <% end %>
      <div class="mb-5">
        <h2>既に登録済みの方</h2>
        <div class="ml-5">
          <%= link_to "こちら", new_user_session_path %>
          <span>　からログインしてください。</span>
        </div>
      </div>
    </div>
  </div>
</div>
