<div class="container">
  <div class="row py-3">
    <h4 class="col-md-2">ユーザー情報</h4>
    <% if @user == current_user %>
      <%= link_to "編集する", edit_user_path, class:"btn btn-success btn-md" %>
    <% else %>
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
      <% end %>
    <% end %>
  </div>
  <div>
    <% unless @user.id == current_user.id %>
      <% if (current_user.following? @user) && (@user.following? current_user)  %>
        <% if @is_room == true %>
          <p class="user-show-room"><a href="/rooms/<%= @room_id %>" class="btn btn-primary btn-lg">チャットへ</a>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex">
      <div class="user-profile_image">
        <%= image_tag @user.get_profile_image, size: "80x80", class: "rounded-circle" %>
      </div>
      <div class="user-profile">
        <h3 class="offset-1"><%= @user.name %></h3>
        <P class="">フォロー<%= @user.followings.count %>　フォロワー<%= @user.followers.count %></P>
      </div>
      <div class="col-md-6 introduction">
        <%= @user.introduction %>
      </div>
    </div>
  </div>
  <div class="row d-flex col-md-8 justify-content-around">
    <% @user.posts.each do |post| %>
    <div class="card p-2">
      <% if post.post_images.attached? %>
        <%= link_to post_path(post) do %>
          <%= image_tag post.post_images[0].variant(resize_to_fill: [200, 200]).processed %>
        <% end %>
      <% end %>
      <h6 class="card-title"><%= post.title %></h6>
      <p class="card-text"><%= post.body %></p>
      <p>
        <% post.tags.each do |tag| %>
          #<%= tag.name %>
        <% end %>
      </p>
      <p>
        <span><i class="fas fa-user"></i></span>
        <%= link_to user_path(post.user) do %>
          <span class="text-right"><%= post.user.name %></span>
        <% end %>
      </p>
    </div>
    <% end %>
  </div>
</div>
